<div>
  <div>
    <h1>
      List of all Things that are: <%= @the_category.category_name %> 
    </h1>

    <div>
      <div>
        <a href="/categories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_category/<%= @the_category.id %>">
          Delete category
        </a>
      </div>
    </div>



    
  </div>
</div>

<hr>
<div>
  <div>
    <h2>
      Edit category
    </h2>

    <form action="/modify_category/<%= @the_category.id %>"  method="post" >
      <div>
        <label for="category_name_box">
          Category name
        </label>

        <input type="text" id="category_name_box" name="query_category_name" value="<%= @the_category.category_name %>">
      </div>



      <button>
        Update category
      </button>
    </form>
  </div>
</div>

<hr>

