<h4> Welcome, <%= @current_user.username%> </h4>
<p>Select categories for each below to plan your night</p>


<table style="width: 100%" border="1">
      <tr>
        <td>
           <b> Event </b>
        </td>

        <td>
           <b> Dinner </b>
        </td>

        <td>
          <b>  Dessert </b>
        </td>
      </tr>

    <form action="/plan">
      <tr>
        <td>
            <label for="event_category">
            Category
            </label>

            <select  type="text" id="event_category" name="query_cat1">
              <% $list_of_categories.each do |a_cat| %>
                <option>
                  <%= a_cat.category_name %>
                </option>
              <% end %>
            </select>

            
        </td>

        <td>
            <label for="dinner_category">
            Category
            </label>
            <select  type="text" id="dinner_category" name="query_cat2">
              <% $list_of_categories.each do |a_cat| %>
                <option>
                  <%= a_cat.category_name %>
                </option>
              <% end %>
            </select>
        </td>

         <td>
            <label for="dessert_category">
            Category
            </label>
            <select  type="text" id="dessert_category" name="query_cat3">
              <% $list_of_categories.each do |a_cat| %>
                <option>
                  <%= a_cat.category_name %>
                </option>
              <% end %>
            </select>
        </td>
          <button>
            Plan your Night
          </button>
      </tr>
    </form>


    </table>
    
    

 
      
      
      
      
