<p><a href="/event_spots">Your Event Spots <a/></p>
<p><a href="/dessert_spots">Your Dessert Spots<a/></p>
<p><a href="/dinner_spots">Your Dinner Spots<a/></p>

<p><a href="/categories">Your Categories<a/></p>
<h1>Home Page</h1>

Welcome <%= @current_user.username.capitalize%>
